<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>

        <main class="container fluid">
            <h1 class="text-center p-4">Tela de Cadastro</h1>
            <!--    direto no controle acessar @salvar-->
            <form  class="border border-primary rounded p-3 "  th:action="@{/salvar}"  method="post" th:object="${professor}">
                <hr>
                <div class="row">
                    <div class="col">
                        <label>Nome do Professor</label>
                        <input th:field="*{nome}" name="nome" id="nome" type="text" class="form-control" required="required" placeholder="nome do professor" >
<!--                        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>-->
                    </div>
                    <div class="col">
                        <label>titulacao</label>
                        <input th:field="*{titulacao}" name="titulacao" id="titulacao" type="text" class="form-control" placeholder="titulacao" required="required">
<!--                        <p th:if="${#fields.hasErrors('idade')}" th:errors="*{idade}"></p>-->
                    </div>
                </div>
                <di class="row">
                    <div class="col">
                        <label>contato</label>
                        <input th:field="*{contato}" name="contato" id="contato" type="number" class="form-control" placeholder="contato" required="required">
                        <!--                        <p th:if="${#fields.hasErrors('idade')}" th:errors="*{idade}"></p>-->
                    </div>
                    <div class="col">
                        <label>senha</label>
                        <input th:field="*{senha}" name="senha" id="senha" type="password" class="form-control" placeholder="senha" required="required">
                        <!--                        <p th:if="${#fields.hasErrors('idade')}" th:errors="*{idade}"></p>-->
                    </div>
                </di>

                <br> <br>
                <div class="col-lg-12" style="text-align: right;">
                    <button  type=" submit" class="  btn btn-primary">Cadastrar</button>
                </div>
                <hr>
            </form>
        </main>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>